*{
  margin: 0;
  padding: 0;
  list-style: none;
}

img{
  max-width: 100%;
  display: block;
}
a{
  text-decoration: none;
  color: inherit;
  font: inherit;
}
body{
  color: var(--cor-3);
  background-color: var(--cor-0);
}