.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.menu{
  display: flex;
  gap: 20px;
}
.menu a{
  padding: 20px;
}
.menu a:hover{
  color: var(--cor-6);
}
@media (max-width:700px){
  .menu{
    display: none;
  }
}