.menu-mobile-bg {
  display: none;
  width: 100%;
  height: 2000px;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
}
[data-menu="container"].ativo {
  display: block;
  animation: show-in 0.3s;
}
.menu-mobile {
  position: absolute;
  min-width: 75%;
  height: 100vh;
  background: var(--cor-0);
  right: 0;
  padding: 20px;
}
.menu-mobile li {
  margin-bottom: 20px;
}
a[data-menu="abrir"] {
  display: none;
}
@keyframes show-in {
  from {
    opacity: 0;
    transform: translate3d(30px, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
@media (max-width: 700px) {
  a[data-menu] {
    display: flex;
    justify-content: end;
  }
}
.dropdown-mobile a {
  max-width: max-content;
  display: inline-block;
  gap: 10px;
  align-items: center;
  margin-bottom: 10px;
}
.dropdown-mobile > a::after {
  content: "";
  background: url("../images/chevron-down.svg");
  display: inline-block;
  width: 16px;
  height: 16px;
  position: relative;
}
.dropdown-menu-mobile {
  background-color: var(--cor-4);
  color: var(--cor-0);
  padding: 20px;
  display: none;
}
.dropdown-menu-mobile a:hover {
  color: var(--cor-5);
}
[data-dropdown-mobile].ativo .dropdown-menu-mobile {
  display: block;
  animation: slidedown .5s;
}
@keyframes slidedown{
  from{
    opacity: 0;
    transform: translateY(-30px);
  }
  to{
    opacity: 1;
    transform: translateY(0);
  }
}
.dropdown-mobile.ativo > a::after {
  transform: rotate(180deg);
  transition: 0.3s;
}

